

nav{
	position:fixed;
	top:0px;
	left:0px;
	bottom:0px;
	width:300px;
	background-color:#272727;
	transition:all ease-in-out 200ms;
}
nav div{
	position:fixed;
	top:40px;
	left:40px;
	width:60px;
	height:60px;
	background-color:red;
}